.service-titlesect {
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }

    h1 {
        z-index: 2;
        position: relative;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 72px;
        line-height: 127%;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(248, 162, 61, 0.9), rgba(248, 162, 61, 0.9));
    }

    h1 {
        margin-bottom: 0;
    }
}

.service-textsect {
    padding: 91px 0 80px;

    h3 {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        text-align: left;
    }

    .descr {
        margin-bottom: 50px;

        P {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .servpicwrap {
        display: flex;
        justify-content: center;
    }

    .container>img {
        width: 100%;
        margin-bottom: 50px;
    }

    h4 {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 24px;
        line-height: 160%;
        color: #333333;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 15px 0 0 0;

        li {
            padding-left: 43px;
            position: relative;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            &:after {
                content: '';
                display: inline-block;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background: linear-gradient(94.36deg, #FCB766 -6.55%, #F69B31 118.85%);
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    }

    .service__bottimgsect {
        margin-top: 60px;
        text-align: center;
        background: url('../img/svg/linefullw.svg') no-repeat top center;
        padding: 20px 0;

        .yellow-btn {
            text {
                color: #fff;
            }
        }
    }







}

.accordeon-sect {
    background: #F5F5F5;
    padding: 60px 0;

    .accordeon-sect__title {
        text-align: center;
        margin-bottom: 37px;
        font-weight: bold;
        font-size: 24px;
        color: #333333;
    }
}

.accordeon-box {
    border-top: 1px solid #C4C4C4;

    padding: 25px 0;

    .accordeon__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: #333333;
        margin: 0;
        position: relative;
        padding-right: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 50px;
        cursor: pointer;


        .statusbtn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: linear-gradient(94.36deg, #FCB766 -6.55%, #F69B31 118.85%);

            &:after,
            &:before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 4px;
                background: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:before {
                transform: translate(-50%, -50%) rotate(90deg);
                transition: .5s;
                animation-timing-function: ease-in-out;
            }
        }

        &.show {
            .statusbtn {
                &:before {
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }
        }
    }

    .accordeon-body {
        padding: 20px 60px 13px 35px;

        .descr {
            max-width: 475px;

            p {

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }













    .accordeon-body {
        display: none;
    }
}

.accordeon__wrapper {
    .accordeon-box {
        &:last-child {
            border-bottom: 1px solid #C4C4C4;
        }
    }
}

.servinfblock {
    padding: 80px 0 61px;

    .imgwrapper {
        padding-left: 30px;
    }

    .text-wrapper {
        max-width: 400px;

        h4 {
            margin-bottom: 16px;
            font-weight: bold;
            font-size: 36px;
            line-height: 130%;
            color: #333;
        }

        .descr {
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.bottshadowbox {
    position: relative;

    img {
        position: relative;
        z-index: 2;
    }

    &:after {
        content: '';
        display: block;
        width: 774px;
        height: 128px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.53) 0%, rgba(231, 231, 231, 0) 100%);
        position: absolute;
        bottom: -60px;
        left: 44%;
        transform: translateX(-50%);
    }
}

.testimonials.testimonials_service {
    padding-top: 50px;

    h3 {
        font-size: 36px;
        line-height: 130%;
    }
}

.dealwith.discover-more {
    padding: 70px 0 60px 0;

    h3 {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 130%;
    }
}

.tentipsmodal {
    .modal-dialog {
        max-width: 1140px;
    }

    .modal-content {
        padding: 90px;
        position: relative;
    }

    .tentipsmodal__content {
        max-width: 450px;
        position: relative;
        z-index: 3;

        .title {
            font-weight: bold;
            font-size: 36px;
            line-height: 130%;
            margin-bottom: 39px;

            span {
                color: #F69B31;
                background: -webkit-linear-gradient(45deg, #FCB766, #F69B31);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;

            li {
                margin-bottom: 8px;
                position: relative;
                padding-left: 34px;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 23px;
                    height: 23px;
                    background: url('../img/svg/check-icon.svg') no-repeat center / 100%;
                    position: absolute;
                    left: 0;
                    top: 1px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        form {
            input {
                max-width: 428px;
                height: 64px;
                width: 100%;
                box-shadow: none !important;
                outline: none;
                border: 1px solid rgba(0, 0, 0, .25);
                box-sizing: border-box;
                border-radius: 10px;
                padding-left: 20px;
                margin-bottom: 24px;

                &::placeholder {
                    color: rgba(0, 0, 0, 0.25);
                }

                &:focus {
                    border-color: #F69B31;
                    -webkit-box-shadow: 0 0px 5px #f8a23e !important;
                    box-shadow: 0 0px 5px #f8a23e !important;
                }
            }

            button {
                border: none;
                min-width: 260px;
                justify-content: center;
            }
        }
    }
}

.tentipsmodal-bgpic1 {
    position: absolute;
    bottom: 0;
    right: -22px;
    z-index: 2;
}

.tentipsmodal-bgpic2 {
    position: absolute;
    right: 80px;
    bottom: 0;
    z-index: 1;
}

.testimonialbox .rightinfo>a {
    outline: none !important;
}


@media(max-width:1700.8px) {
    .tentipsmodal .modal-dialog {
        max-width: 750px;
    }

    .tentipsmodal .modal-content {
        padding: 40px;
    }

    .tentipsmodal .tentipsmodal__content .title {
        font-size: 32px;
    }

    .tentipsmodal .tentipsmodal__content ul li {
        margin-bottom: 5px;
        padding-left: 28px;
    }

    .tentipsmodal .tentipsmodal__content ul li:after {
        width: 18px;
        height: 18px;
        top: 3px;
    }

    .tentipsmodal .tentipsmodal__content form input {
        max-width: 300px;
        height: 48px;
        padding-left: 15px;
    }

    .tentipsmodal .tentipsmodal__content ul {
        margin-bottom: 20px;
    }

    .tentipsmodal .tentipsmodal__content form button {
        min-height: 58px;
        min-width: 220px;
    }

    .tentipsmodal-bgpic1 {
        height: calc(100% + 40px);
    }

    .tentipsmodal-bgpic2 {
        height: 100%;
    }



}

@media(max-width:1600.8px) {
    .service-textsect h3 {
        font-size: 28px;
    }

    .service-textsect .descr {
        margin-bottom: 30px;
    }

    .service-textsect h4,
    .accordeon-sect .accordeon-sect__title {
        font-size: 21px;
    }

    .genmodal .btn-close {
        z-index: 4;
    }

    .accordeon-box {
        padding: 20px 0;
    }

    .accordeon-box .accordeon-body {
        padding-left: 25px;
        padding-top: 5px;
    }







}

@media(max-width: 1199.8px) {
    .service-textsect {
        padding: 70px 0 60px;
    }

    .accordeon-box .accordeon__title .statusbtn {
        width: 35px;
        height: 35px;
    }

    .bottshadowbox:after {
        width: 100%;
        left: 0;
        transform: none;
    }

    .servinfblock .imgwrapper {
        padding-left: 0;
    }










}

@media(max-width: 991.8px) {
    .accordeon__wrapper {
        .row {
            .col-lg-6 {
                &:nth-child(1) {
                    .accordeon-box:last-child {
                        border-bottom: none;
                    }
                }

                &:nth-child(2) {
                    .accordeon-box:last-child {
                        border-bottom: 1px solid #C4C4C4;
                    }
                }
            }
        }
    }

    .service-textsect .service__bottimgsect {
        margin-top: 40px;
    }

    .servinfblock {
        padding: 60px 0 60px;
    }

    .servinfblock .text-wrapper h4 {
        font-size: 28px;
    }

    .testimonials.testimonials_service h3 {
        margin-bottom: 10px;
    }

    .dealwith.discover-more {
        padding-top: 40px;
    }

    .dealwith.discover-more h3 {
        margin-bottom: 30px;
    }

    .service-textsect {
        padding: 50px 0 40px;
    }

    .servinfblock {
        padding-bottom: 40px;
    }

    .testimonials.testimonials_service {
        padding-top: 20px;
    }

    .dealwith.discover-more {
        padding-top: 10px;
    }

    .tentipsmodal .modal-dialog {
        max-width: 600px;
    }

    .tentipsmodal-bgpic1 {
        height: auto;
        width: 300px;
    }

    .tentipsmodal .tentipsmodal__content .title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .tentipsmodal .tentipsmodal__content ul {
        max-width: 300px;
    }

    .tentipsmodal-bgpic2 {
        display: none;
    }










}

@media(max-width: 767.8px) {
    .service-textsect .container>img {
        margin-bottom: 30px;
    }

    .servinfblock .text-wrapper h4 {
        font-size: 21px;
    }

    .tentipsmodal .modal-dialog {
        max-width: calc(100% - 80px);
    }

    .tentipsmodal-bgpic1 {
        width: 250px;
    }

    .tentipsmodal .tentipsmodal__content {
        max-width: 350px;
    }

    .tentipsmodal .tentipsmodal__content .title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .tentipsmodal-bgpic1 {
        display: none;
    }













}

@media(max-width: 575.8px) {
    .service-titlesect.serv h1 {
        font-size: 32px;
    }

    .service-textsect h3 {
        font-size: 21px;
        text-align: center;
    }

    .service-textsect {
        .row {
            .servic {
                order: 1;
            }

            .servfrsttext {
                order: 2;
            }
        }
    }

    .service-textsect {
        padding-top: 40px;
    }

    .servpicwrap img {
        width: 80px;
        margin-bottom: 10px;
    }

    .service-textsect h4 {
        font-size: 18px;
    }

    .service-textsect ul li {
        margin-bottom: 10px;
        padding-left: 30px;
    }

    .service-textsect ul li:after {
        width: 15px;
        height: 15px;
        top: 5px;
    }

    .service-textsect .service__bottimgsect {
        background: none;
    }

    .service-textsect .service__bottimgsect {
        margin-top: 20px;
    }

    .service-textsect .service__bottimgsect {
        padding-bottom: 0;
    }

    .accordeon-box .accordeon__title {
        font-size: 16px;
        font-weight: 400;
    }

    .accordeon-box {
        padding: 15px 0;
    }

    .servinfblock .text-wrapper {
        margin-bottom: 30px;
    }

    .accordeon-box .accordeon-body {
        padding: 10px 0px 10px 0px;
    }

    .testimonials.testimonials_service h3,
    .dealwith.discover-more h3 {
        font-size: 28px;
    }

    .dealwith.discover-more {
        padding-bottom: 40px;
    }

    .dealwith .row .col-lg-4:last-child .dealbox {
        margin-bottom: 0;
    }

    .tentipsmodal .modal-dialog {
        max-width: 90%;
    }

    .tentipsmodal .modal-content {
        padding: 45px 30px 30px 30px;
    }

    .tentipsmodal .tentipsmodal__content form button {
        min-height: 48px;
        min-width: 180px;
    }












}

@media(max-width: 360.8px) {
    .service-titlesect {
        height: 180px;
    }

    .service-textsect .service__bottimgsect {
        padding-left: 15px;
        padding-right: 15px;
    }

    .service-textsect .service__bottimgsect .yellow-btn {
        font-size: 14px;
        padding-left: 30px;
        padding-right: 30px;
    }
}